os:
  - linux
  - windows

language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "pypy"
  - "pypy3.5"

before_install:
  - chmod +x .travis/push.sh

install:
  - pip install -r requirements.txt
  - pip install .

script: 
  - pytest --doctest-modules bamnostic/

branches:
  only:
    - devel

after_success:
  - .travis/push.sh
